html
{
  text-align: center;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
@import url(http://allfont.net/allfont.css?fonts=montserrat-light);
h3{ color: #FFB6C1; font-family: 'Montserrat light', Arial; font-size: 34px; font-weight: 50; line-height: 40px; margin: 0 0 16px;
}
a {
  color: white;
}

ul {
  list-style-type: none;


.ImgAbout {
        margin: 40px 0px 0px 0px;
        border: 7px solid white;
        border-radius: 20px;
