html
{
  text-align: center;
  color: white;
  background-color: rgba(98, 202, 150, 1);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a {
  color: white;
}

ul {
  list-style-type: none;

}
