html {
  text-align: center;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#header{
 background-image: url("background.png");
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}

.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0.79);
}

.navbarnavbar-inverse{
  flex: 1
}
body {
    width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

@import url(http://allfont.net/allfont.css?fonts=montserrat-light);
/* add class */
h3 {
  color: #FFB6C1;
  font-family: 'Montserrat light', Arial;
  font-size: 34px;
  font-weight: 50;
  line-height: 40px;
  margin: 0 0 16px;
}
*{
  box-sizing: border-box;
}
.container1 {
  position: static;
  width: 100%;
}

.firstlayout {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f8fafa;
}
.messahe{
  position: relative;
}
.container2:hover .overlay {
  opacity: 0.5;
  }
.container1:hover .overlay {
  opacity: 1;
}

.text1 {
  color: white;
  font-size: 30px;
  font-family: "GlacialIndifferenceRegular";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text2 {
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  color: #1a1a1a;
  font-size: 50px;
  text-align: center;
  position: center;
  left: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: center;
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}

.textone {
  color: #1a1a1a;
  font-size: 50px;
  font-family:'GlacialIndifferenceRegular';
  text-align: middle;
}
  /* position: pull-right;
  top: 10%;
  left: 50%;
  transform: translate(-80%, -50%);
  -ms-transform: translate(-80%, -50%); */
}
.text3.2 {
  color: #1a1a1a;
  font-size: 80px;
  font-family:'GlacialIndifferenceRegular';
  position: text-center;
  top: 10%;
  left: 50%;
  transform: translate(-80%, -50%);
  -ms-transform: translate(-80%, -50%);
}

a {
  color: white;
}

ul {
  list-style-type: none;
}

#target {
  width: 100%;
  height: auto;
}
.ImgAbout {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
footer {
    padding: 10px 0;
    background-color: #000000;
}
#footer-info {
    width: 100%;
    margin-left: 90px;
}
#contact{  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  color: #grey;
  font-size: 20px;

#navbarSupportedContent {
  background-color: black;
}

.NavbarImage {
  height: auto;
  width: 100%;
  margin-right: 90px;
}
