html {
  text-align: center;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

@import url(http://allfont.net/allfont.css?fonts=montserrat-light);
/* add class */
h3 {
  color: #FFB6C1;
  font-family: 'Montserrat light', Arial;
  font-size: 34px;
  font-weight: 50;
  line-height: 40px;
  margin: 0 0 16px;
}
.container1 {
  position: static;
  width: 100%;
}

.firstlayout {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container1:hover .overlay {
  opacity: 1;
}

.text1 {
  color: white;
  font-size: 30px;
  font-family:"playlist-script";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

a {
  color: white;
}

ul {
  list-style-type: none;
}

#target {
  width: 100%;
  height: auto;
}
.ImgAbout {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}

#navbarSupportedContent {
  background-color: black;
  width: 100%;
  height: auto;
}
